<div class="container-fluid">
  <h2 class="text-center">Create a new Quote </h2>
  <hr>
  <form (ngSubmit)="submitQuote()" #QuoteForm='ngForm'>
    <div class="form-group">

          <label for="name">Your Name</label>
          <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name='ngModel' required >
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            <p>Quote is required</p>
          </div>
      </div>
      <div class="form-group">

        <label for="theQuote">Quote</label>
        <input type="text" required class="form-control" id="theQuote" [(ngModel)]="newQuote.theQuote" name="theQuote" #theQuote='ngModel' required >
        <div [hidden]="theQuote.valid || theQuote.pristine" class="alert alert-danger">
          <p>Quote is required</p>
        </div>
      </div>
      <div class="form-group">

        <label for="author">Quote By</label>
        <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required >
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p>author required</p>
        </div>
      </div>
      <button id="submitQuote" type="submit" class="btn btn-success">Add Goal</button>
  </form>
</div>
