h2{
    padding-top : 40px;
    animation: bounce 2s infinite;
    padding-bottom: 50px;
    color: green;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-55px);
    }
    60% {
      transform: translateY(-45px);
    }
  }
