<div>
  <h1>Quotes</h1>
  <hr>
  <ul>
    <div class="row">
      <div class="col">
        <div *ngFor='let quote of quotes; let i = index'><span id="style"><b>{{quote.theQuote}}</b></span>
          <br>
          <span id="style1">
            <span id="style2"><b>Posted By:</b></span>{{quote.name}}
          </span>
          <br>
          <span id="style1">
            <span id="style2"><b>Author : </b> </span> {{quote.author}}
          </span>

          <div id="style3">
            <app-quote-delete [quote]='quote' (isComplete)='completeQuote($event, i)' (upvote)='upVote($event,i)'
              (downvote)='downVote($event,i)'></app-quote-delete>
          </div>
        </div>
      </div>

    </div>
    <div id="style4">
      <app-quote-form (addQuote)="addNewQoute($event)"></app-quote-form>
    </div>
  </ul>
</div>
