<div>
  <h1>Quotes</h1>
  <hr>
  <ul>
    <div class="row">
      <div class="col">
        <div *ngFor='let quote of quotes; let i = index'>{{quote.theQuote}}
          <br>
          Posted By:{{quote.name}}
          <br>
          Author : {{quote.author}}
          <div>
            <app-quote-delete [quote]='quote' (isComplete)='completeQuote($event, i)' (upvote)='upVote($event,i)'
              (downvote)='downVote($event,i)'></app-quote-delete>
          </div>
        </div>
      </div>
      <div class="col">
        <app-quote-form (addQuote)= "addNewQoute($event)"></app-quote-form>
      </div>
    </div>
  </ul>
</div>
